
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,700&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}

:root {
    --darkblue: #1C367E;
}

.main {
    display: flex;
}

.toogle {
    width: 25px;
    height: 30px;
    background-color: transparent;
    margin: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: none;

}

.side {
    width: 25%;
    border: 1px solid gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: fixed;
}

.side1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid gray;
    padding: 20px 0px !important;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
    width: 100%;

}

.side1 img{
    width: 100px;
    height: 100px;
}

.side1 span:nth-of-type(2) img{
    height: 30px;
}
/* ul is here */

.underlist {
    list-style: none;
    padding: 0;

}

.underlist li {
    padding: 5px !important;

}

.underlist li a {
    text-decoration: none;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    /* gap: 20px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 11px !important;
   
    cursor: pointer;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);

}
#wallet a{
    background: #7683E726; 
}
#wallet a select{
    background: #7683e700; 
}
.underlist li a.active{
    background: #7683E726;

}

.underlist li a:hover{
    background: #7683E726;

}
.underlist li a:nth-of-type(1){
    /* padding: 10px 0px !important; */
}
.underlist li a select{
    /* background-color: red; */
    padding: 10px 0px !important;
    width: 240px;
    outline: none;
border: none;
font-size: 13px;
    font-weight: 500;
}
.underlist li a select:hover{
    /* background-color: gray; */
    background: #7683e700;

}
.underlist li a:hover select{
    /* background-color: gray; */
    background: #7683e700;
}

#sele option{
    background: #7683E726;
    border: 1px solid rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
}
/* .underlist li:nth-of-type(1) a{
    padding: 10px 10px !important;
} */
.underlist li a.active {
    background: #7683E726;
    color: black;
}


.side1 div:nth-of-type(1) {
    width: 80px;
    height: 2px;
    background-color: black;

}
.navbarpluscards {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0px;
    left: 25%;
    width: 75%;
}

.navbartop{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 100px;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
    padding-right: 20px !important;
}
.navbartop>*{
    height: 30px;
}

.per1{
height: 35px;
width: 35px;
}
.per1 img{
    height: 35px;
    width: 35px;
    }
.per2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.per2 div:nth-of-type(1){
    height: 25px;
    width: 25px;
}
.per2 div:nth-of-type(1) img{
    height:30px;
    width: 30px;
}

.per2 div:nth-of-type(2){
    font-size: 13px;
    font-weight: 500;
}
.per2 div:nth-of-type(2) span{
    font-size: 11px;
    font-weight: 500;
}
.bottommenue{
    width: 90%;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
    margin-inline: 5% !important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.right2{
    display: flex;
    flex-direction: column;
}
.right2 div:nth-of-type(1){
font-size: 20px;
font-weight: bold;
padding: 3px 3px 3px 3px !important;
}
.right2 div:nth-of-type(2){
    border-top: 1px solid rgba(0, 0, 0, 0.30);
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
    padding: 10px 3px 3px 3px !important;
}
.bottommenue button{
    border-radius: 6px;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    background: #FF6161;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 30px 9px 30px !important;
}


/* this is the css for the setttings */

.walletsdiv{
    display: flex;
    align-items: center;
    height: 70px;
    width: 90% ;
    margin-inline: 5% !important;
    font-size: 25px;
    font-weight: bold;
}
.twobuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px !important;
}
.twobuttons button:nth-child(1){
border: none;
width: 130px;
height: 40px;
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.30);
background: #FFF;
font-size: 14px;
font-weight: 600;
}
.twobuttons button:nth-child(2){
    border: none;
    width: 130px;
height: 40px;
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.30);
background: #1A377D;
color: white;
font-size: 14px;
font-weight: 600;
}

/* this is the css forr the cards in the website */
.caarsmain{
width: 90%;
margin-inline: 5% !important;
display: flex;
margin-top: 30px !important;
height: 60vh;
}
.cardsleft{
width: 60%;
display: flex;
flex-direction: column;
/* justify-content: center; */
gap: 30px;
}
.carddev{
width: 76%;
height: 255px;
position: relative;
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.30);

}
.sideempty{
    width: 158px;
    height: 25px;
    border-radius: 0px 9px 0px 50px;
background: #8C9BBE;
position: absolute;
top: 0px;
right: 0px;

}
.carddev div:nth-of-type(2){
    color: #1A377D;
    font-size: 29px;
    font-weight: bold;
    position: absolute;
    top: 8%;
    left: 14%;
}
.carddev img{
    position: absolute;
    width: 50%;
    height: 180px;
    left: 0px;
    bottom: 0px;
}
.carddev div:nth-of-type(3){
    position: absolute;
    top: 50%;
    right: 6%;
    font-size: 35px;
    font-weight: bold;
}

.buttonsdivs{
display: flex;
gap: 10px;
justify-content: center;
align-items: center;
margin-top: 20px !important;
width: 76%;
}
.buttonsdivs button:nth-child(1),.buttonsdivs button:nth-child(2){
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #1A377D;
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
/* .buttonsdivs button:nth-child(2){

} */

/* this is for the right card */

.cardright{
width: 40%;
height: 60vh;
border-radius: 10px;
border: 1px solid #00000072;
background: #FFF;
padding: 10px !important;
}
.topline{
font-size: 14px;
font-weight: 500;
display: flex;
justify-content: center;
align-items: center;
color: rgba(0, 0, 0, 0.464);
border-bottom: 1px solid rgba(0, 0, 0, 0.47);
padding: 5px 0px !important;
}

/* this is the css for the linne like in card */

.cardlinelike{
    display: flex;
    padding: 10px !important;
    justify-content: space-between;
    align-items: center;
}
.lineleft{
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.lineleft img{
width: 35px;
height: 35px;
border-radius: 50%;
}
.lineleft div:nth-of-type(2){
font-size: 14px;
font-weight: 600;
}
.lineleft span:nth-of-type(1){
    color: #38B000;
    font-size: 12px;
}
.lineright{
    font-size: 22px;
    color: red;
    font-weight: 600;
}
.greencol{
    color: green;
}

/* this is the css for the next card */

.carddev2{
    width: 50% !important;
}
.cardsmain2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px !important;
}
.cardsmain2 input{
width: 300px;
height: 40px;
outline: none;
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.30);
background: #FFF;
text-indent: 20px;
}
.cardsmain2 button{
    border: none;
    width: 120px;
    height: 40px;
    color: white;
    border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.30);
background: #1A377D;
}

/* this is the css for the third wallet */

.linelongcard{
    width: 50%;
    height: 105vh;
    border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.30);
}
.longtop{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.longtop button{
width: 65%;
height: 50px;
border-radius: 10px;
background: #1A377D;
font-size: 16px;
font-weight: 600;
color: white;
}
.sidelinediv{
width: 70%;
margin: auto !important;
padding: 0px 0px 10px 10px !important;
border-left: 1px solid rgba(0, 0, 0, 0.438);
position: relative;
}

.sidelinediv::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: -8px;
    left: -6px;
    background: gray;
    border-radius: 100%;
}


.sidelinediv div:nth-of-type(1){
font-size: 16px;
font-weight: 600;
padding-bottom: 6px !important;
}
.sidelinediv div:nth-of-type(2) img{
    width: 100%;
    border-radius: 20px;
    height: 130px;
}
.sidelinediv div:nth-of-type(3){
    text-align: center;
    padding: 10px 0px !important;
    font-size: 16px;
    font-weight: 600;
}
.sidelinediv div:nth-of-type(4){
    font-size: 16px;
font-weight: 600;
padding-bottom: 6px !important;
}
.sidelinediv div:nth-of-type(5){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}
.sidelinediv div:nth-of-type(5) >*{
    font-size: 13px;
font-weight: 600;
padding-bottom: 2px !important;
padding-top: 0px !important;
padding-left: 0px  !important;
text-align: start;
width: 150px;
}
/* this the css for the last bottom */

.longboottom{
    border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.30);
width: 80%;
margin: auto !important;
height: 130px;
padding: 10px !important;
margin-top: 20px !important;
}
.botfirst{
    color: #1A377D;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.446);
}
.botsecond{
    color: #393939;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}






@media(max-width:1236px){
    .underlist li a select{
        width: 190px;
    }
}

@media(max-width:1024px){
    .underlist li a {
        font-size: 11px;
    }
}

@media(max-width:900px) {
    .toogle {
        display: block;
        z-index: 9;
    }

    .side {
        width: 50%;
        border: 1px solid gray;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        position: fixed;
        left: -50%;
        transition: 1s;
        z-index: 4;
    }

    .block {
        width: 50%;
        border: 1px solid gray;
        background-color: white;
        height: 100vh;
        display: flex;
        position: fixed;
        left: 0px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        z-index: 4;
        transition: 1s;
    }
    .underlist li a select{
        width:250px;
    }
    .navbarpluscards {
        width: 100%;
        left: 0px;
    }
}









@media(max-width:500px) {
    .cards {
        margin-inline: 0px !important;
    }
    table{
        width: 250%;
        /* margin-inline: 5% !important; */
        /* border: 1px solid rgba(0, 0, 0, 0.30); */
        padding: 5px 0px 5px 10px !important;
        border-radius: 10px;
        }
.tabble{
    overflow: scroll;
}

.side {
    width: 70%;
    border: 1px solid gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: fixed;
    left: -70%;
    transition: 1s;
    z-index: 4;
}

.block {
    width: 70%;
    border: 1px solid gray;
    background-color: white;
    height: 100vh;
    display: flex;
    position: fixed;
    left: 0px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    z-index: 4;
    transition: 1s;
}
.underlist li a select{
    width:200px;
}

/* this is the css for the body  */
.right2 div:nth-of-type(2) {
font-size: 15px;
}
.right2 div:nth-of-type(1) {
    font-size: 18px;
}
.bottommenue {
    width: 98%;
    gap: 20px;
    height: 100px;
    margin-inline: 1% !important;
}
.caarsmain {
    flex-direction: column;
    gap: 20px;
}
.cardsleft{
    width: 100%;
}

.carddev {
    width: 100%;
}
.cardright {
    width: 100%;
}
.carddev {
    width: 90% !important;
}
.linelongcard {
    width: 90%;
}

}
